body {
    font-family: Arial, sans-serif;
    background-color:rgba(95, 158, 160, 0.771);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

p {
    color: #666;
    line-height: 1.6;
    text-align: justify;
}

.back {
    display: block;
    width: 100px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    background-color: #00d5ff;
}

.back:hover {
    background-color: #555;
}