body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color:darksalmon;
    color: #fff;
    padding: 20px;
    text-align: center;
}
main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

main h2 {
    color: #333;
    margin-top: 20px;
}

main p {
    color: #666;
    line-height: 1.5;
    margin-bottom: 20px;
}
