body{
    margin: 0 auto;
    font-family: sans-serif;
    background-color:bisque;
}

form{
    width: 100%;
}

legend{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.back, a{
    margin-top: 5px;
    background-color:brown;
    color: white;
    text-decoration: none;
    width: 70px;
    height: 40px;
    border: transparent;
    border-radius: 5px;
}